* {
    font-family: 'Work Sans', sans-serif;
}

.container {
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    padding-top: 120px;
    padding-right: 150px;
    padding-bottom: 120px;
}

.header {
    color: #151414;
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 0;

}

.header-detail {
    color: #444343;
    margin-bottom: 32px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    background-color: coral;
    border: 0;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;

}

.failures-section {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 130px 80px;
}

.failures-detail {
    text-align: left;
}

.failures-header {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.list-item {
    list-style: none;
}

.success-img {
    width: 100%;
}

.my-plans-section {
    text-align: center;
}

.my-plans {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.plan-div {
    display: flex;
    justify-content: space-evenly;
}

.plan-header {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
}

.plan-detail {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

.images {
    width: 1140px;
    height: 300px;
    margin-top: 90px;
    margin-left: 55px;
    margin-bottom: 90px;
    border-radius: 8px;
    background-image: url(../images/watch.png), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    ;
    background-blend-mode: overlay;

}