* {
    font-family: 'Work Sans', sans-serif;
}

/* header section styles */

.container {
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    padding-top: 120px;
    padding-right: 150px;
    padding-bottom: 120px;
}

.header {
    color: #151414;
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 0;

}

.header-detail {
    color: #444343;
    margin-bottom: 32px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    background-color: coral;
    border: 0;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;

}

/* failures and success section styles */

.failures-section {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 130px 80px;
}

.failures-detail {
    text-align: left;
}

.failures-header {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.list-item {
    list-style: none;
}

.success-img {
    width: 100%;
}

/* my plans section styles */

.my-plans-section {
    text-align: center;
}

.my-plans {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.plan-div {
    display: flex;
    justify-content: space-evenly;
}

.plan-header {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
}

.plan-detail {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* linear gradient with image styles */

.images {
    width: 1140px;
    height: 300px;
    margin-top: 90px;
    margin-left: 55px;
    margin-bottom: 90px;
    border-radius: 8px;
    background-image: url(../images/watch.png), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    ;
    background-blend-mode: overlay;

}

.linear-section {
    padding: 40px 35px;
}

.watch-detail {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    width: 459px;

}

.btn-call-now {
    width: 160px;
    height: 64px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}

/* footer section styles */

.footer-section {
    display: flex;
    background: #151414;
    padding: 100px 250px;
    gap: 40px;
}

.footer-header {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}

.footer-detail {
    color: #FFFFFF;
}

.footer-email {
    color: white;
}

.footer-phone {
    color: white
}

.subscribe {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
}

.email {
    width: 200px;
    height: 59px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}